:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.title {
    text-align: center;
}

.button-container {
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.square {
    padding: 1px;
    border: 1px solid #000;
}